@import "../../../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "components/contacts.scss";

.mt-12 {
  padding-top: 12px;
}

.mt-34 {
  margin-top: 34px;
}

.pb-34 {
  padding-bottom: 34px;
}

.overflow {
  overflow: scroll;
  overflow-x: hidden;
}

.height {
  min-height: 200px;
  max-height: 700px;
}

.mw {
  max-width: 1540px;
  width: 100%;
  max-height: 1032px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.roww {
  height: 100%;
}
