@import "../../../../../../node_modules/bootstrap/scss/bootstrap.scss";

.is-50 {
  height: 50px;
  width: 50px;
}

.pt-21 {
  padding-top: 21px;
}

.pb-22 {
  padding-bottom: 22px;
}

.mt-46 {
  padding-top: 46px;
}
