@import "../../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../../node_modules/bootstrap/scss/mixins";

@import "../../../../../../node_modules/bootstrap/scss/bootstrap";

@import "variables";
@import "components/contacts.scss";
@import "components/messages.scss";
@import "components/message.scss";

.mt-12 {
  padding-top: 12px;
}

.mt-34 {
  margin-top: 34px;
}

.pb-34 {
  padding-bottom: 34px;
}

.overflow {
  overflow: hidden;
  overflow-y: scroll;
}

.hidden {
  overflow: hidden;
}

.height {
  height: 600px;
}

.mw {
  max-width: 1540px;
  width: 100%;
  max-height: 1032px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.roww {
  height: 100%;
}

.br {
  border-radius: 100px;
}

.wh90 {
  height: 90px;
  width: 90px;
  border-radius: 100px;
  align-self: center;
}

.fs-14 {
  font-size: 14px;
}

.rounded1 {
  border-radius: 16px 0 0 0;
}

.mt-20 {
  margin-top: 20px;
}

.mb-19 {
  margin-bottom: 19px;
}

.g-16 {
  gap: 16px;
}

@media (max-width: 767px) {
  .rounded1 {
    border-radius: 0;
  }
  .border-sm {
    border: 0 !important;
  }
  .ml-21 {
    margin-left: 21px;
  }
  .mr-40 {
    margin-right: 40px;
  }
  .mr-183 {
    margin-right: 183px;
  }
}
