ul(class="nav" id="nav-tab" role="tablist").pe-0.ps-0.mb-0.w-100.justify-content-between
  a(class="btn btn-primary" href="index.html").bg-primary.text-light.rounded1.px-0
    img(src="images/Logo.png").ml-21.mr-183
  a(class="nav-link btn-primary" href="#contacts" data-bs-toggle="tab" data-bs-target="#nav-contacts" type="button" role="tab" aria-controls="nav-contacts" aria-selected="true").bg-primary.d-flex.text-light.align-items-center.py-3.px-0.flex-md-shrink-0.flex-md-grow-0.flex-lg-shrink-1.flex-lg-grow-1
    i.bi.bi-people.fs-4.mr-40.me-md-2
    p.mb-0.d-md-inline.d-none Контакты
  a(class="nav-link btn-primary" href="#chats" data-bs-toggle="tab" data-bs-target="#nav-message" type="button" role="tab" aria-controls="nav-message" aria-selected="true").nav-link.bg-primary.d-flex.text-light.align-items-center.py-3.px-0.flex-md-shrink-0.flex-md-grow-0.flex-lg-shrink-1.flex-lg-grow-1
    i.bi.bi-chat.fs-4.mr-40.me-md-2
    p.mb-0.d-md-inline.d-none Сообщения
  a(class="nav-link btn-primary" href="#profile" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true").bg-primary.d-flex.text-light.align-items-center.py-3.rounded-0.px-0.flex-md-shrink-0.flex-md-grow-0.flex-lg-shrink-1.flex-lg-grow-1
    i.bi.bi-person.fs-4.mr-40.me-md-2
    p.mb-0.d-md-inline.d-none Профиль