-
  var messages = {
    "В": [{
      name: "Вениамин Редакторович",
      message: "o_0",
      avatar: "/images/avatar_4.jpg",
      time: "11:45"
    }],

    "Д": [{
      name: "Джедай Падаванов",
      message: "Привет, скоро третий проект? Уже скоро...",
      avatar: "/images/avatar_2.jpg",
      time: "10:12"
    }],
    
    "П": [{
      name: "Алексей Примадонин",
      message: "Тесты упали >_<",
      avatar: "/images/avatar_6.jpg",
      time: "08:53"
    }],
  }