div.d-flex.flex-column.justify-content-between.h-100
  div.sticky-top
    div.contact
      img(src="/images/avatar_4.jpg" alt="").contact-image
      div.ms-4
        p.contact-name Венимамин Редакторович
        p.contact-status Онлайн

  div.px-4
    div.d-flex.justify-content-start.mb-3.g-16
      div.avatar.avatar-sm.align-self-end
        img(src="images/avatar_4.jpg" alt="")
      div.messages.messages-light.d-flex.flex-column.shadow
        h1.messages-h1.fs-6.h6 Вениамин Редакторович
        p1.messages-p1 Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
        p2.messages-p2  8 минут назад 

    div.d-flex.justify-content-end.mb-3.g-16
      div.avatar.avatar-sm.align-self-end
        img(src="images/avatar_1.jpg" alt="")
      div.messages.messages-primary.d-flex.flex-column.shadow
        p1.messages-p1 Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
        p2.messages-p2  8 минут назад 

    div.d-flex.justify-content-start.mb-3.g-16
      div.avatar.avatar-sm.align-self-end
        img(src="images/avatar_4.jpg" alt="")
      div.messages.messages-light.d-flex.flex-column.shadow
        h1.messages-h1.h6 Вениамин Редакторович
        p1.messages-p1 Лады
        p2.messages-p2  5 минут назад

    div.d-flex.justify-content-end.g-16
      div.avatar.avatar-sm.align-self-end
        img(src="images/avatar_1.jpg" alt="")
      div.messages.messages-primary.d-flex.flex-column.shadow
        p1.messages-p1 А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
        p2.messages-p2  3 минуты назад

    div.d-flex.justify-content-start.mb-3.g-16
      div.avatar.avatar-sm.align-self-end
        img(src="images/avatar_4.jpg" alt="")
      div.messages.messages-light.d-flex.flex-column.shadow
        h1.messages-h1.h6 Вениамин Редакторович
        p1.messages-p1 о_О
        p2.messages-p2  Только что

  div(action="").border-top.ps-4.mx-5.d-flex.justify-content-between
    input(type="text" placeholder='Напишите сообщение...' class='form-text border-0').p-0.m-0.w-100
    button.avatar.avatar-sm.bg-primary.my-1
      img(src="images/cursor 2.png")