p.fs-2.fw-bold.mb-4 Контакты
form(action="").pt-4.pb-4.ps-4.border-bottom.mb-1
  input(type="text" placeholder='Поиск по контактам' class='form-text').border-0.mt-0
div 
  include contacts.pug
    each people, position in contacts
      p= position
        div.border-bottom.d-flex.align-items-center
          each user in people  
            img(src= user.avatar, alt="").w-25.h-25
            div.ms-4
              p.mb-0.fw-bold= user.name
              p.mb-0.text-secondary= user.status