doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
      p Контакты
      label(for="")
      form 
      div 
        include contacts.pug
          each people, position in contacts
            p= position
            div
              each user in people  
                img(src="", alt="")
                p= user.name
                p= user.status

