p Контакты
  label(for="23")
  form(id="23" placeholder="Поиск по контактам")
    div 
      include contacts.pug
        each people, position in contacts
          p= position
            div.border-bottom.d-flex
              each user in people  
                img(src= user.avatar, alt="").w-25.h-25
                div
                  p.mb-0= user.name
                  p.mb-0= user.status