div(id="contact" aria-labelledby="nav-contact-tab").mt-12.overflow.height.tab-pan.fade
  include contact-list.pug
    each people, position in contacts
      p.mt-34= position
        each user in people  
          div.contact
            img(src= user.avatar, alt="").contact-image
            div.ms-4
              p.contact-name= user.name
              p.contact-status= user.status