form(action="").pt-4.pb-4.ps-4.border-bottom.mb-1
  input(type="text" placeholder='Поиск по контактам' class='form-text').border-0.mt-0

div.mt-12.overflow.height
  include contact-list.pug
    each people, position in contacts
      p.mt-34= position
        each user in people  
          div.contact
            img(src= user.avatar, alt="").contact-image
            div.ms-4
              p.contact-name= user.name
              p.contact-status= user.status