nav.btn-group.col-4.pe-0.ps-0
  a(href="").btn.bg-primary.rounded-0.rounded-start.text-light
    i.bi.bi-2-circle.fs-4
  a(href="").btn.bg-primary.rounded-0.d-flex.text-light.align-items-center.pt-3.pb-3
    i.bi.bi-people.me-2.fs-4
    p.mb-0 Контакты
  a(href="").btn.bg-primary.rounded-0.d-flex.text-light.align-items-center.pt-3.pb-3
    i.bi.bi-chat.me-2.fs-4
    p.mb-0 Сообщения
  a(href="").btn.bg-primary.rounded-0.d-flex.text-light.align-items-center.pt-3.pb-3   
    i.bi.bi-person.me-2.fs-4
    p.mb-0 Профиль