ul.pe-0.ps-0.mb-0
  div(class="btn-group" id="nav-tab" role="tablist").w-100
    button(class="btn btn-primary" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true").btn.bg-primary.rounded-0.rounded-start.text-light
      i.bi.bi-2-circle.fs-4
    button(class="btn btn-primary" id="nav-contacts-tab" data-bs-toggle="tab" data-bs-target="#nav-contacts" type="button" role="tab" aria-controls="nav-contacts" aria-selected="true").btn.bg-primary.rounded-0.d-flex.text-light.align-items-center.pt-3.pb-3
      i.bi.bi-people.me-2.fs-4
      p.mb-0.d-md-inline.d-none Контакты
    button(class="btn btn-primary" id="nav-message-tab" data-bs-toggle="tab" data-bs-target="#nav-message" type="button" role="tab" aria-controls="nav-message" aria-selected="true").nav-link.bg-primary.rounded-0.d-flex.text-light.align-items-center.pt-3.pb-3
      i.bi.bi-chat.me-2.fs-4
      p.mb-0.d-md-inline.d-none Сообщения
    button(class="btn btn-primary" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true").bg-primary.rounded-0.d-flex.text-light.align-items-center.pt-3.pb-3
      i.bi.bi-person.me-2.fs-4
      p.mb-0.d-md-inline.d-none Профиль