ul.col-4.pe-0.ps-0
  div(id="nav-tab" role="tablist").nav.nav-tabs
    button(href="#home" data-bs-toggle="tab" role="tab").btn.bg-primary.rounded-0.rounded-start.text-light
      i.bi.bi-2-circle.fs-4
    button(href="#contacts" data-bs-target="#contact" data-bs-toggle="tab" role="tab" aria-controls="contact").btn.bg-primary.rounded-0.d-flex.text-light.align-items-center.pt-3.pb-3.nav-link
      i.bi.bi-people.me-2.fs-4
      p.mb-0 Контакты
    button(href="#messages" data-bs-target="#messages" data-bs-toggle="tab" role="tab").nav-link.bg-primary.rounded-0.d-flex.text-light.align-items-center.pt-3.pb-3.nav-link
      i.bi.bi-chat.me-2.fs-4
      p.mb-0 Сообщения
    button(href="#profile" data-bs-target="#profile" data-bs-toggle="tab" role="tab" aria-controls="profile").btn.bg-primary.rounded-0.d-flex.text-light.align-items-center.pt-3.pb-3.nav-link  
      i.bi.bi-person.me-2.fs-4
      p.mb-0 Профиль