div.d-flex.flex-column.justify-content-center.align-items-center.text-center.h-100
  img(src="images/avatar_1.jpg" alt="").br
  p.fw-bold.mb-0.mt-3 Привет, Кодовёнок
  P.text-secondary.mb-0 Выбери чат, чтобы начать общаться