div.sticky-top
  div.contact
    img(src="/images/avatar_4.jpg", alt="").contact-image
    div.ms-4
      p.contact-name Венимамин Редакторович
      p.contact-status Онлайн

div.px-4.py-4.d-flex.flex-column
  h1.mb-1.fs-6.fw-bold Вениамин Редакторович
  p1.mb-2 Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
  p2  8 минут назад 


div(action="").border-top.ps-4.mx-5.d-flex.justify-content-between
  input(type="text" placeholder='Напишите сообщение...' class='form-text border-0').p-0.m-0
  img(src="images/cursor 2.png").bg-primary
