div(class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0").pe-4.ps-4.pt-5
  p.fs-2.fw-bold.mb-4  Профиль
  form(action="").pt-4.pb-4.ps-4.border-bottom.mb-1
    input(type="text" placeholder='Поиск по сообщениям' class='form-text').border-0.mt-0

  div.card.text-center.mt-5.border-0
    img(src="images/avatar_1.jpg", alt="").wh90
    div.card-body.pt-2
      h1.card-title.h6.fw-bold.mb-4 Кодовёнок Хекслетович
      p.card-text.fs-6.text-secondary Милый и скромный помощник начинающих разработчиков. Люблю JavaScript

  div.mt-5.ps-4.pe-4
    ol.list-group.list-group-flush
      li.list-group-item.d-flex.justify-content-between.align-items-center
        div.text-secondary.fs-14 Страна
          div.text-dark.fs-14 Москва, Россия  
        i.bi.bi-globe.text-secondary
      li.list-group-item.d-flex.justify-content-between.align-items-center
        div.text-secondary.fs-14 Телефон
          div.text-dark.fs-14 +7 (499) 123-45-67  
        i.bi.bi-telephone.text-secondary
      li.list-group-item.d-flex.justify-content-between.align-items-center
        div.text-secondary.fs-14 Email
          div.text-dark.fs-14 nikita.m@hexlet.io  
        i.bi.bi-envelope.text-secondary
      li.list-group-item.d-flex.justify-content-between.align-items-center
        div.text-secondary.fs-14 Twitter
          div.text-dark.fs-14  @n_mikhaylov 
        i.bi.bi-people.text-secondary
