$box-shadow-sm: 0 0.125rem 0.125rem rgba($black, 0.075);
$white: #fff;
$purple: #4545a5;
$gray-600: #6c757d;

.message {
  display: flex;
  align-items: center;
  box-shadow: #{$box-shadow-sm};
  background-color: #{$white};
  margin-bottom: 14px;
  padding-bottom: 22px;
  padding-top: 21px;
  padding-left: 16px;
  padding-right: 40px;
  gap: 0 25px;

  &-image {
    border-radius: 50px;
    height: 50px;
    width: 50px;
  }

  &-name {
    margin-bottom: 0;
    font-weight: bold;
  }

  &-message {
    margin-bottom: 0;
    color: #{$gray-600};
  }

  &-time {
    margin: 0;
  }

  &:hover {
    background-color: #{$purple};

    .message-name {
      color: #fbfbfb;
    }

    .message-message {
      color: #efefef;
    }
  }
}
